* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

main {
  width: 600px;
  height: 400px;
  padding: 30px;
}

header {
  padding: 30px;
  display: flex;
  border-bottom: #eaeaea 1px solid;
}

.reset-button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

.red-outline {
  outline: red solid 1px;
}

/* header */
.go-back-btn:before {
  content: "\2190\0020";
}

.create-lable-btn:after {
  content: " \2192";
}
/* end header */

/* bookmark content */
.bookmark-container {
  display: flex;
  max-height: 100%;
}

.bookmark-tree {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 15px 0 0;
}

.bookmark-tree > button {
  border: 0;
  outline: none;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  background-color: #f1f1f1;

  margin-bottom: 10px;
}

.bookmark-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.bookmark-items > .items-wrapper {
  border: rgb(168, 168, 168) 1px solid;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.bookmark-items > .items-wrapper > a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.bookmark-items > .items-wrapper > a:after {
  content: " \2192";
}

.bookmark-items img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
/* end bookmark content */

.create-lable-submit-button {
  text-decoration: underline;
  margin-left: 5px;
}

.create-label-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.create-label-form > input[type="text"] {
  font-size: 15px;
  padding: 5px;
  border: none;
  margin-right: 10px;
}

.create-label-form > input[type="text"]:focus {
  outline: 0;
  border-bottom: black 1px solid;
}

.create-label-form > input[type="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.create-label-form > input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.create-label-form > input[type="color"]::-webkit-color-swatch {
  border: none;
}

.colors-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.colors-container .color-item {
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;

  color: white;
  text-align: center;
}

.remove-label-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;

  border-radius: 50%;
  background-color: #bfbfbfab;
  color: white;

  position: absolute;
  top: -10px;
  right: -10px;
}